<launch>


  <rosparam file="$(find smart_scaffolding_control)/config/smart_scaffolding_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args=" joint_1_controller joint_2_controller joint_3_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/smart_scaffolding/joint_states" />
  </node> -->

</launch>
